body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

.wrapper {
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.wrapper .info h1 {
  letter-spacing: 2px;
}

body {
  width: 100%;
  font-size: 15px;
  font-weight: bold;
}

body main {
  overflow: hidden;
}

#headerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  background-image: url("../img/header_bg.jpg");
  background-size: cover;
  height: 900px;
  max-width: 100%;
}

#headerSection .overlay {
  width: 100%;
  height: 900px;
  background-color: rgba(0, 0, 0, 0.36);
}

#headerSection .header {
  width: calc(100% - 30px);
  width: 100%;
  position: relative;
}

#headerSection .header .logo1 {
  float: left;
  margin-top: 50px;
}

#headerSection .header .close {
  position: absolute;
  display: none;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#headerSection .header .menu {
  margin-top: 66px;
  float: right;
  display: block;
}

#headerSection .header .menu li {
  margin: auto;
  padding-left: 30px;
  float: left;
}

#headerSection .header .menu li:first-child {
  padding-left: 0;
}

#headerSection .header .menu li a {
  color: #fff;
  text-decoration: none;
}

#headerSection .header .menu li a:hover {
  color: darkorange;
}

#headerSection .header .menuToggle {
  display: none;
  float: right;
  margin-top: 66px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

#headerSection .header .menuToggle:hover {
  color: darkorange;
}

#headerSection .header #menuCheck {
  display: none;
}

#headerSection .hello {
  padding-top: 300px;
  color: darkorange;
  font-weight: bold;
  max-width: 100%;
}

#headerSection .hello div {
  margin-bottom: 25px;
}

#headerSection .hello div h3 {
  font-size: 26px;
  font-weight: bold;
  float: left;
  margin-right: 50px;
  margin-top: 0.5rem;
}

#headerSection .hello div img {
  padding-top: -10px;
  display: block;
  bottom: 1rem;
}

#headerSection .hello h1 {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  clear: both;
}

#headerSection .hello button {
  margin-top: 45px;
}

.title h1 {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.title p {
  margin-top: 30px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
}

.btn {
  background-color: darkorange;
  border: 1px solid darkorange;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.btn:hover {
  color: darkorange;
  background-color: #fff;
  border: 1px solid darkorange;
  cursor: pointer;
}

.fa {
  color: darkorange;
}

img {
  display: block;
}

#about_meSection {
  padding-top: 100px;
}

#about_meSection .about-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#about_meSection .about-info .img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(41.66667% - 30px);
}

#about_meSection .about-info .img img {
  display: block;
}

#about_meSection .about-info .info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(58.33333% - 30px);
  margin-top: 50px;
}

#about_meSection .about-info .info h1 {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

#about_meSection .about-info .info p {
  margin-top: 60px;
  text-align: justify;
}

#about_meSection .about-info .info .address {
  margin-top: 34px;
}

#about_meSection .about-info .info .address span {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}

#about_meSection .about-info .info .address span .fa {
  color: darkorange;
}

#about_meSection .about-info .info button {
  margin-bottom: 25px;
}

#hireSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  height: 300px;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(10%, black), to(transparent)), url("../img/hire_bg.png");
  background-image: linear-gradient(0, black 10%, transparent 100%), url("../img/hire_bg.png");
  background-size: cover;
}

#hireSection h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 95px;
  color: #fff;
}

#hireSection .btnh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hireSection .btnh .btn {
  margin-top: 45px;
}

#servicesSection {
  padding: 100px 0 70px 0;
}

#servicesSection .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#servicesSection .items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(33.33333% - 30px);
  margin-bottom: 30px;
  height: auto;
  overflow-y: hidden;
  position: relative;
}

#servicesSection .items .item .over {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

#servicesSection .items .item .over .crcl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 85%;
  bottom: 0;
  width: 35px;
  height: 35px;
  border: 1px solid darkorange;
  border-radius: 50%;
  color: darkorange;
}

#servicesSection .items .item .over .crcl:hover {
  background: darkorange;
  color: #fff;
  cursor: pointer;
}

#servicesSection .items .item .over .crcl:hover .fa {
  color: #fff;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

#servicesSection .items .item .over span {
  display: block;
  position: absolute;
  bottom: 10%;
  left: 5%;
  margin-bottom: 10px;
}

#servicesSection .items .item .over P {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 12px;
  font-weight: normal;
}

#servicesSection .items .item img {
  display: block;
}

#contact-meSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-left: 0;
  height: 300px;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(10%, black), to(transparent)), url(../img/hire_bg.png);
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
}

#contact-meSection h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 95px;
  color: #fff;
}

#contact-meSection .btnh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#contact-meSection .btnh .btn {
  margin-top: 45px;
}

#teamSection {
  padding: 100px 0 70px 0;
}

#teamSection .team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 60px;
}

#teamSection .team-members .team-member {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(25% - 30px);
  position: relative;
  margin-bottom: 30px;
}

#teamSection .team-members .team-member:hover .name {
  bottom: 75px;
  -webkit-transition: bottom 0.6s cubic-bezier(0, 0.5, 0.5, 1);
  transition: bottom 0.6s cubic-bezier(0, 0.5, 0.5, 1);
}

#teamSection .team-members .team-member:hover:after .overlay {
  opacity: 1;
}

#teamSection .team-members .team-member .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(100% - 30px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 5%;
}

#teamSection .team-members .team-member .name h1 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(100% - 30px);
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

#teamSection .team-members .team-member .name span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(100% - 30px);
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-weight: normal;
  color: darkorange;
}

#teamSection .team-members .team-member .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transition: ease;
  transition: ease;
}

#teamSection .team-members .team-member .overlay:hover {
  opacity: 1;
}

#teamSection .team-members .team-member .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(100% - 30px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 2%;
}

#teamSection .team-members .team-member .social a {
  border-top: 40px solid black;
  border-right: 40px solid transparent;
  position: relative;
  margin-right: 7%;
}

#teamSection .team-members .team-member .social a:hover {
  border-top: 40px solid darkorange;
}

#teamSection .team-members .team-member .social a i {
  position: absolute;
  bottom: 12px;
  left: 13px;
  color: #fff;
}

#teamSection .team-members .team-member .social a:last-child {
  margin-right: 0;
}

#statsSection {
  padding: 100px 0;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(10%, black), to(transparent)), url(../img/hire_bg.png);
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
}

#statsSection .diagrams {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

#statsSection .diagrams .diagram {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(25% - 30px);
  margin-bottom: 20px;
}

#statsSection .diagrams .diagram div {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

#statsSection .diagrams .diagram div:last-child {
  margin-bottom: 0;
}

#statsSection .diagrams .diagram .circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
  border: 1px solid darkorange;
  border-radius: 50%;
  position: relative;
}

#statsSection .diagrams .diagram .circle .sector1 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  background: darkorange;
}

#statsSection .diagrams .diagram .circle .sector2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  background: darkorange;
}

#statsSection .diagrams .diagram .circle .sector3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  background: darkorange;
}

#statsSection .diagrams .diagram .circle .sector4 {
  width: 50%;
  height: 50%;
  position: absolute;
  left: -25%;
  top: 0;
  -webkit-transform: skew(45deg);
          transform: skew(45deg);
  background: darkorange;
}

#statsSection .diagrams .diagram .circle .center {
  width: 10px;
  height: 10px;
  left: 45%;
  top: 45%;
  border: 2px solid darkorange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border-radius: 50%;
  position: absolute;
}

#portfolioSection {
  padding: 100px 0 70px 0;
}

#portfolioSection .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#portfolioSection .items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(33.33333% - 30px);
  position: relative;
  margin-bottom: 30px;
}

#portfolioSection .items .item:hover .type {
  display: block;
}

#portfolioSection .items .item:hover .view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#portfolioSection .items .item:hover .overlay {
  opacity: 1;
}

#portfolioSection .items .item .overlay {
  position: absolute;
  left: 5%;
  top: 10%;
  height: 80%;
  width: 90%;
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: ease;
  transition: ease;
}

#portfolioSection .items .item .type {
  display: none;
  position: absolute;
  bottom: 15%;
  left: 10%;
}

#portfolioSection .items .item .type h1 {
  font-size: 16px;
  font-weight: bold;
}

#portfolioSection .items .item .type p {
  margin-top: 5px;
  font-size: 12px;
  font-weight: bold;
  color: darkorange;
}

#portfolioSection .items .item .view {
  display: none;
}

#portfolioSection .items .item .view span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  background: darkorange;
  border-radius: 50%;
  margin: auto;
  bottom: 42%;
}

#portfolioSection .items .item .view span:hover {
  background: #fff;
  cursor: pointer;
}

#portfolioSection .items .item .view span:hover .fa {
  color: darkorange;
}

#portfolioSection .items .item .view span .fa {
  color: #fff;
}

#membersSection {
  padding: 100px 0 70px 0;
  max-width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(10%, black), to(transparent)), url(../img/hire_bg.png);
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
  color: #fff;
  text-align: justify;
}

#membersSection .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#membersSection .items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(25% - 30px);
  border: 1px solid #fff;
  padding: 15px;
  margin: 0 30px 30px 30px;
}

#membersSection .items .item .inf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

#membersSection .items .item .inf span {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  margin-bottom: 20px;
  width: 80px;
  height: 80px;
  border: 1px solid;
  border-radius: 50%;
  overflow: hidden;
}

#membersSection .items .item .inf span img {
  height: 100%;
  -ms-flex-item-align: center;
      align-self: center;
}

#membersSection .items .item .inf .name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(100% - 30px);
  position: absolute;
  left: 40%;
  top: 25%;
}

#membersSection .items .item .inf .pos {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(100% - 30px);
  position: absolute;
  color: darkorange;
  left: 40%;
  top: 55%;
  font-size: 14px;
  font-weight: normal;
}

#membersSection .items .item p {
  color: #fff;
}

#latest_newsSection {
  padding: 100px 0 70px 0;
}

#latest_newsSection .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

#latest_newsSection .items .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(33.33333% - 30px);
  text-align: justify;
  padding: 0 30px 30px 30px;
}

#latest_newsSection .items .item .bg {
  background-color: #f5f5f5;
}

#latest_newsSection .items .item .bg:hover {
  background: #FFF;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

#latest_newsSection .items .item .bg:hover .btn:hover {
  background-color: darkorange;
  border: 1px solid darkorange;
  color: #fff;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

#latest_newsSection .items .item .bg .pg {
  padding: 20px;
}

#latest_newsSection .items .item .bg .pg .meet {
  display: block;
  margin-bottom: 20px;
}

#latest_newsSection .items .item .bg .pg hr {
  border: none;
  color: #f5f5f5;
  background-color: #f2f2f2;
  height: 3px;
  margin: 25px 0;
}

#latest_newsSection .items .item .bg .pg p {
  margin-bottom: 25px;
}

#latest_newsSection .items .item .bg .pg .btn {
  color: darkorange;
  background-color: #fff;
  border: 1px solid darkorange;
}

#contact_meSection {
  padding: 100px 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(0), color-stop(10%, black), to(transparent)), url(../img/hire_bg.png);
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
}

#contact_meSection .title {
  color: #fff;
  margin-bottom: 60px;
}

#contact_meSection form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact_meSection form .inputs {
  width: calc(50% - 30px);
  clear: both;
  height: 190px;
}

#contact_meSection form .inputs input {
  width: calc(100% - 30px);
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
  padding: 15px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

#contact_meSection form .inputs input:first-child {
  margin-top: 20px;
}

#contact_meSection form .inputs input:last-child {
  margin-bottom: 0;
}

#contact_meSection form .tarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
  clear: both;
  margin-top: 20px;
}

#contact_meSection form .tarea textarea {
  width: calc(100% - 30px);
  height: 190px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  display: block;
  padding: 10px;
  border: 1px solid #fff;
  background: transparent;
  resize: none;
  color: #fff;
}

#contact_meSection form .btn {
  margin-top: 25px;
}

footer {
  color: #fff;
  background-color: darkslategray;
  padding: 40px 0;
}

footer .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

footer .foot .copy {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
  padding-top: 7px;
}

footer .foot .smedia {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
  width: calc(50% - 30px);
}

footer .foot .smedia .hov {
  float: right;
  margin: 0;
  width: 30px;
  height: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .foot .smedia .hov:hover {
  background-color: darkorange;
}

footer .foot .smedia .hov .fa {
  position: absolute;
  color: #fff;
}

@media screen and (max-width: 1100px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #teamSection .team-members .team-member {
    width: calc(25% - 30px);
  }

  #portfolioSection .items .item {
    width: calc(33.33333% - 30px);
  }

  #latest_newsSection .items .item {
    width: calc(33.33333% - 30px);
  }
}

@media screen and (max-width: 960px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #about_meSection .about-info .img {
    width: calc(100% - 30px);
  }

  #about_meSection .about-info .img img {
    margin-left: calc(25% + 15px);
  }

  #about_meSection .about-info .info {
    width: calc(100% - 30px);
  }

  #servicesSection .items .item {
    width: calc(50% - 30px);
  }

  #teamSection .team-members .team-member {
    width: calc(50% - 30px);
  }

  #statsSection .diagrams .diagram {
    width: calc(50% - 30px);
  }

  #portfolioSection .items .item {
    width: calc(50% - 30px);
  }

  #membersSection .items .item {
    width: calc(100% - 30px);
  }

  #latest_newsSection .items .item {
    width: calc(50% - 30px);
  }

  #headerSection .header .menu {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    float: none;
    margin-top: 0;
    background: #2589bf;
  }

  #headerSection .header .menu li {
    float: none;
    text-align: center;
    padding-top: 40px;
    padding-left: 0;
  }

  #headerSection .header .menuToggle {
    display: block;
  }

  .menu-active {
    overflow: hidden;
    position: fixed;
  }

  .menu-active .wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 780px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #about_meSection .about-info .img {
    width: calc(100% - 30px);
  }

  #about_meSection .about-info .img img {
    margin-left: calc(16.66667% + 15px);
  }

  #about_meSection .about-info .info {
    width: calc(100% - 30px);
  }

  #teamSection .team-members .team-member {
    width: calc(50% - 30px);
  }

  #portfolioSection .items .item {
    width: calc(50% - 30px);
  }

  #latest_newsSection .items .item {
    width: calc(100% - 30px);
  }

  #contact_meSection form .inputs {
    width: calc(100% - 30px);
  }

  #contact_meSection form .tarea {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 560px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #headerSection {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #about_meSection .about-info .img img {
    margin-left: calc(0% + 15px);
  }

  #servicesSection .items .item {
    width: calc(100% - 30px);
  }

  #teamSection .team-members .team-member {
    width: calc(100% - 30px);
  }

  #statsSection .diagrams .diagram {
    width: calc(100% - 30px);
  }

  #portfolioSection .items .item {
    width: calc(100% - 30px);
  }

  #membersSection .items .item {
    width: calc(100% - 30px);
  }

  #latest_newsSection .items .item {
    width: calc(100% - 30px);
  }
}

@media screen and (max-width: 420px) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  #servicesSection .items .item {
    width: calc(100% - 30px);
  }

  footer .foot .copy {
    width: calc(100% - 30px);
  }

  footer .foot .smedia {
    width: calc(100% - 30px);
  }
}