@import "includes/settings";
@import "smart-grid";

@include reset();

.clearfix {
  @include clearfix();
}
.wrapper {
  @include wrapper();
  @include justify-content(center);
  @include justify-content-lg(center);
  @include justify-content-md(center);
  @include justify-content-sm(center);
  @include justify-content-xs(center);
  font-family: 'Montserrat', sans-serif;
  .info {
    h1 {
      letter-spacing: 2px;
    }
  }
}
body {
  width: 100%;
  @include font(15px,bold);
  main {
    overflow: hidden;
  }
}
header {
  @include row-flex();
  @include justify-content-xs(center);
  margin-left: 0;
  background-image: url('../img/header_bg.jpg');
  background-size: cover;
  height: 900px;
  max-width: 100%;
  clear: both;
  .overlay {
    width: 100%;
    height:900px;
    background-color: rgba(0, 0, 0, 0.36);
  }
  .header {
    @include size(12);
    width: 100%;
    .logo1 {
      float:left;
      padding-top:50px;
    }
    .menu {
        padding-top:66px;
        float:right;
        ul {
          display: block;
          li {
            margin: auto;
            &:first-child {
              padding-left: 0;
            }
            padding-left: 30px;
            float:left;
            a {
              &:hover {
                color: $btn;
              }
              color: #fff;
              text-decoration: none;
            }
          }
        }
    }
  }
  .hello {
    padding-top: 300px;
    color:$btn;
    font-weight:bold;
    max-width: 100%;
    div {
      margin-bottom: 25px;
      h3 {
        font-size: 26px;
        font-weight: bold;
        float: left;
        margin-right: 50px;
        margin-top:0.5rem;
      }
      img {
        padding-top: -10px;
        display: block;
        bottom: 1rem;
      }
    }
    h1 {
      color:#fff;
      font-size: 36px;
      font-weight:bold;
      clear: both;
    }
    button {
      margin-top:45px;
    }
  }
}


.title {
   h1 {
     text-align: center;
     @include font(36px,bold);
   }
   p {
     margin-top: 30px;
     text-align: center;
     @include font(14px,normal);
   }
 }
.btn {
    &:hover {
      color:$btn;
      background-color: #fff;
      border: 1px solid $btn;
    }

    background-color: $btn;
    border: 1px solid $btn;
    color: #fff;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight:bold;
  }
.fa {
  color: $btn;
}
img {
  display: block;
}

#about_me {
  margin-top:100px;

    .about-info {
      @include row-flex();
      @include justify-content(center);

      margin-top: 60px;
      .img {
        @include col();
        @include size(5);
        @include size-md(12);
        @include size-sm(12);
        img {
          @include offset-left-md(3);
          @include offset-left-sm(2);
          @include offset-left-xs(0);
          display: block;
        }
      }
      .info {
        @include col();
        @include size(7);
        @include size-md(12);
        @include size-sm(12);
        margin-top: 50px;
        h1 {
          @include font(14px,bold);
          text-align: left;
        }
        p {
          margin-top:60px;
          text-align: justify;
        }

        .address {
          margin-top: 34px;
          span {
            display: block;
            margin-bottom: 20px;
            @include font(14px,bold);
            .fa {
              color: $btn;
            }
          }
        }
        button {
          margin-bottom: 25px;
        }
      }
    }
  }

#hire {
    @include row-flex();
    margin-left: 0;
    height: 300px;
    max-width: 100%;
    background-image: linear-gradient(0, black 10%, transparent 100%), url('../img/hire_bg.png');
    background-size: cover;

    h1 {
      @include font(20px,bold);
      text-align: center;
      margin-top:95px;
      color: #fff;
    }
    .btnh {
      display: flex;
      align-items: center;
      justify-content: center;
      .btn {
        margin-top: 45px;
      }
    }
  }

#services {
    margin:100px 0 70px 0;

    .items {
      @include row-flex();
      @include justify-content(center);
      margin-top: 60px;

      .item {
        @include col();
        @include col-4();
        @include col-md-6();
        @include size-xs(12);
        @include size-xxs(12);
        margin-bottom: 30px;
        height: auto;
        overflow-y: hidden;
        position: relative;

        .over {
          position: absolute;
          width: 100%;
          height: 100%;
          bottom: 0;
          color: #fff;
          background-color: rgba(0,0,0,0.5);
          .crcl{
            @include row-flex();
            align-items: center;
            justify-content: center;
            left:85%;
            bottom:0;
            width: 35px;
            height: 35px;
            border: 1px solid $btn;
            border-radius: 50%;
            color: $btn;

            &:hover {
              background:$btn;
              color: #fff;
              .fa {
                color: #fff;
                transform: rotate(90deg);
                transition: all 400ms;
              }
            }
          }

          span {
            display: block;
            position: absolute;
            bottom:10%;
            left: 5%;
            margin-bottom:10px;
          }
           P {
             position: absolute;
             bottom:5%;
             left: 5%;
             @include font(12px,normal);
           }
        }
        img {
          display: block;
        }
      }
    }
  }

#contact-me {
  @include row-flex();
  margin-left: 0;
  height: 300px;
  max-width: 100%;
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
  h1 {
    @include font(20px,bold);
    text-align: center;
    margin-top:95px;
    color: #fff;
  }
  .btnh {
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      margin-top: 45px;
    }
  }
}

#team {
  margin:100px 0 70px 0;
  .team-members {
    @include row-flex();
    margin-top: 60px;

    .team-member {
      @include col();
      @include size(3);
      @include size-lg(3);
      @include size-md(6);
      @include size-sm(6);
      @include size-xs(12);

      position: relative;
      margin-bottom:30px;
      &:hover {
        .name {

          bottom: 75px;
          transition: bottom 0.6s cubic-bezier(0, 0.5, 0.5, 1);
        }
        &:after {
          .overlay {
            opacity:1;
          }
        }
      }
      .name {
        @include row-flex();
        @include col();
        @include size(12);
        justify-content: center;
        align-items: center;
        h1 {
          @include col();
          @include size(12);
          text-align: center;
          @include font(16px,bold);
          color: #fff;
        }
        span {
          @include col();
          @include size(12);
          margin-top:15px;
          text-align: center;
          @include font(14px,normal);
          color: $btn;
        }
        position: absolute;
        bottom:5%;
      }
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        background: rgba(0,0,0,0.3);
        transition: ease;
        &:hover{
            opacity: 1;
        }
      }
      .social {
        @include row-flex();
        @include col();
        @include size(12);
        align-items: center;
        justify-content: center;
        a{
          border-top: 40px solid black;
          border-right: 40px solid transparent;
          &:hover {
            border-top: 40px solid $btn;
          }
          position: relative;
          i {
            position: absolute;
            bottom:12px;
            left: 13px;
            color: #fff;
          }
          margin-right:7%;
          &:last-child {
            margin-right:0;
          }
        }
        position: absolute;
        bottom:2%;
      }

    }
  }
}

#stats {
  padding: 100px 0;
  max-width:100%;
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
  .diagrams {
    @include row-flex();
    .diagram {
      @include col();
      @include size(3);
      @include size-md(6);
      @include size-xs(12);

      margin-bottom:20px;
      div {
        color:#fff;
        text-align: center;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      .circle{
        width: 100px;
        height: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
        overflow: hidden;
        border: 1px solid $btn;
        border-radius: 50%;
        position: relative;
        .sector1 {
          width: 50%;
          height: 50%;
          position: absolute;
          left: 50%;
          top: 0;
          transform-origin: left bottom;
          background: $btn;
        }
        .sector2 {
          width: 100%;
          height: 100%;
          position: absolute;
          left:50%;
          top: 0;
          background: $btn;
        }
        .sector3 {
          width: 100%;
          height: 100%;
          position: absolute;
          top:50%;
          background: $btn;

        }
        .sector4 {
          width: 50%;
          height: 50%;
          position: absolute;
          left:-25%;
          top:0;
          transform: skew(45deg);
          background: $btn;
        }
        .center {
          width: 10px;
          height: 10px;
          left:45%;
          top:45%;
          border: 2px solid $btn;
          box-sizing: border-box;
          background: #fff;
          border-radius: 50%;
          position: absolute;
        }
      }
    }
  }
}

#portfolio {
  margin:100px 0 70px 0;
    .items {
      @include row-flex();
      @include justify-content(center);

      margin-top: 60px;
      .item {
        @include col();
        @include size(4);
        @include size-lg(4);
        @include size-md(6);
        @include size-sm(6);
        @include size-xs(12);

        position: relative;
        margin-bottom:30px;
        &:hover {
          .type {
            display: block;
          }
          .view {
            display: flex;
            align-items: center;
            justify-content: center;
          }
          .overlay {
            opacity: 1;
          }
        }
        .overlay {
          position: absolute;
          left: 5%;
          top: 10%;
          height: 80%;
          width: 90%;
          opacity: 0;
          background: rgba(255,255,255,0.5);
          transition: ease;
        }
        .type {
          display: none;
          position: absolute;
          bottom:15%;
          left:10%;
          h1{
            @include font(16px, bold);
          }
          p {
            margin-top:5px;
            @include font(12px, bold);
            color:$btn;
          }
        }
        .view{
          display: none;

          span {
            position: absolute;
            @include row-flex();
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            background: $btn;
            border-radius: 50%;
            margin: auto;
            bottom: 42%;
            &:hover {
              background: #fff;
              .fa {
                color: $btn;
              }
            }
            .fa {
              color: #fff;
            }
          }
        }
      }
    }
}

#members {
  padding:100px 0 70px 0;
  max-width: 100%;
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
  color: #fff;
  text-align: justify;
  .items {
    @include row-flex();
    @include justify-content(center);
    .item {
      @include col();
      @include size(3);
      @include size-md(12);
      @include size-xs(12);

      border: 1px solid #fff;
      padding: 15px;
      margin:0 30px 30px 30px;

      .inf {
        @include row-flex();
        position: relative;
        span {
          @include col();
          margin-bottom:20px;
          width: 80px;
          height: 80px;
          border:1px solid;
          border-radius: 50%;
          overflow: hidden;


           img {
             height: 100%;
             align-self: center;
           }
        }
        .name {
          @include col();
          @include size(12);

          position: absolute;
          left:40%;
          top:25%;
        }
        .pos {
          @include col();
          @include size(12);

          position: absolute;
          color: $btn;
          left:40%;
          top:55%;
          @include font(14px,normal);
        }
      }
      p {
        color:#fff;
      }
}}}

#latest_news {
  margin:100px 0 70px 0;
  .items {
    @include row-flex();
    @include justify-content(center);

    margin-top: 60px;
    .item {
      @include col();
      @include size(4);
      @include size-lg(4);
      @include size-md(6);
      @include size-sm(12);
      @include size-xs(12);

      padding:0 30px 30px 30px;
      .bg{
        background-color: #f5f5f5;
        &:hover {
          background: #FFF;
          box-shadow: 0 10px 25px rgba(0,0,0,0.15);
        .btn{
          &:hover {
            background-color: $btn;
            border: 1px solid $btn;
            color: #fff;
            padding: 16px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            font-weight: bold;
          }
        }
        }
      .pg {
        padding: 20px;
        .meet {
          display: block;
          margin-bottom: 20px;
        }
        hr {
          border: none;
          color: #f5f5f5;
          background-color: #f2f2f2;
          height:3px;
          margin:25px 0;
        }
        p {
          margin-bottom:25px;
        }
        .btn {
          color:$btn;
          background-color: #fff;
          border: 1px solid $btn;

        }
      }
      }


    }
  }
}

#contact_me {
  padding: 100px 0;
  background-image: linear-gradient(0, black 10%, transparent 100%), url(../img/hire_bg.png);
  background-size: cover;
  .title {
    color: #fff;
    margin-bottom:60px;
  }

  form {
    @include row-flex();
    .inputs {
      @include size(6);
      @include size-sm(12);
      clear: both;
      height: 190px;

      input {
        @include size(12);
        display: block;
        width: 100%;
        box-sizing : border-box;

        margin-bottom: 20px;
        &:first-child {
          margin-top:20px;
        }
        &:last-child {
          margin-bottom:0;
        }
        padding: 15px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        .name {

        }
        .email {

        }
        .subject {

        }
      }
    }
    .tarea {
      @include col();
      @include size(6);
      @include size-sm(12);
      clear: both;
      margin-top:20px;
      textarea {
        @include size(12);
        height: 190px;
        box-sizing : border-box;
        width: 100%;
        margin-top:20px;
        display: block;
        padding: 10px;
        border: 1px solid #fff;
        background: transparent;
        resize: none;
        color: #fff;
      }

    }
    display: flex;
    justify-content: center;
    align-items: center;
    .submit {
      background-color: $btn;
      border: 1px solid $btn;
      color: #fff;
      margin-top:25px;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

footer {
  color: #fff;
  background-color: darkslategray;
  padding:40px 0;
  .foot {
    @include row-flex();

    .copy {
      @include col();
      @include size(6);
      @include size-xxs(12);
      padding-top:7px;
    }
    .smedia {
      @include col();
      @include size(6);
      @include size-xxs(12);

      .hov {
        float: right;
        margin: 0;

        width: 30px;
        height: 30px;
        border: 1px solid transparent;
        border-radius: 50%;
        position: relative;
        &:hover {
          background-color: $btn;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        .fa {
          position: absolute;
          color: #fff;
        }
      }
    }
  }

}